/*---------------------------------------
   Instructions Styles
-----------------------------------------*/
#stepsHolder { 
	margin: 20px 0 40px; 
	opacity: 0;
	visibility: hidden;
}

#stepTitle {
	padding-top: 30px;
	border-top: 1px solid #ccc;
}

h2 {
	font-size: 24px;
	font-weight: 700;
}

ol {
	margin: 20px 0 20px 15px;
	font-size: 16px;
	line-height: 32px;
	
	li { 
		margin-bottom: 10px; 
		padding-left: 10px;
	}
}

// Mobile
@media( max-width: 767px ) {
	
	#stepsHolder { padding: 0 15px; }
}