/*---------------------------------------
   Web & Icon Fonts
-----------------------------------------*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}


/*---------------------------------------
   General Styles
-----------------------------------------*/
* {
	margin: 0;
	padding: 0;
	color: #333;
	font-family: 'Lato', arial, helvetic, sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.container {
	width: 970px;
	margin: 40px auto;
	background-color: #fff;
	clear: both;
}

.container:before, .container:after {
    content: " "; 
    display: table; 
    clear: both;
}


/*---------------------------------------
   Header Styles
-----------------------------------------*/
#header {
	height: 100px;
	background-color: #fff;
	border-bottom: 5px solid #4ebcb2;
}

h1 {
	width: 970px;
	margin: 0 auto;
	padding-top: 10px;
	font-size: 60px;
	text-align: center;
	color: #e5587e;
}


/*---------------------------------------
   Eye Image Styles
-----------------------------------------*/
#imgHolder {
	width: 465px;
	height: 360px;
	float: left;
	position: relative;
}

#imgHolder img {
	width: 450px;
	height: 315px;
	position: absolute;
	top: 22px;
	opacity: 0;
}

#imgHolder img:first-child { opacity: 1; }


/*---------------------------------------
   Select Styles
-----------------------------------------*/
#selHolder {
	width: 500px;
	height: 360px;
	float: right;
}

label {
	height: 56px;
	float: right;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    line-height: 56px;
    opacity: 0;
}

label span {
	width: 120px;
	display: block;
	float: left;
	color: #999;
	font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;
}

label span:after {
	content: '';
	clear: both;
}

select {
	width: 300px;
	height: 100%;
	margin-left: 15px;
	padding: 15px 0px 15px 15px;
	background: #fff;
	color: #777;
	border: 2px solid #ccc;
	font-size: 16px;
	outline: none;
	-webkit-appearance: none; /* Remove the strong OSX influence from Webkit */
    border-radius: 6px;
}

select:focus { box-shadow: 0 0 3px 1px #ccc; }

label:after {
	content: "▼";
	position: absolute;
	top: 2px;
	right: 2px;
	font-size: 18px;
	line-height: 50px;
	padding: 0 15px;
	background: #fff;
	color: #ccc;
	border-radius: 4px;
	pointer-events: none;
	height: calc(100% - 4px);
}

#initSelect { display: none; } /* Hide helper element */


/*---------------------------------------
   Instructions Styles
-----------------------------------------*/
#bottom { min-height: 140px; }

#stepsHolder { 
	margin: 20px 0 40px; 
	opacity: 0;
}

#stepTitle {
	padding-top: 30px;
	border-top: 1px solid #ccc;
}

h2 {
	font-size: 24px;
	font-weight: 700;
}

ol {
	margin: 20px 0 20px 15px;
	font-size: 16px;
	line-height: 32px;
}

li { 
	margin-bottom: 10px; 
	padding-left: 10px;
}


/*---------------------------------------
   Download Form Styles
-----------------------------------------*/
#formHolder { 
	margin-bottom: 40px; 
	opacity: 0;
}

.button {
	margin-left: 670px;
	padding: 15px 10px;
	background-color: #E5587E;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	border-radius: 4px;
	border-style:none;
	cursor: pointer;
}

.button:hover { background-color: #4EBCB2; }


/*---------------------------------------
   Footer Styles
-----------------------------------------*/
#footer {
	padding: 20px 0;
	text-align:center;
	font-size:16px;
	border-top: 1px solid #4ebcb2;
}

#footer a, #footer a:visited {
	font-size: 16px;
	color:#e5587e;
}

#footer a:hover { text-decoration: none; }


/*---------------------------------------
   Animation Styles
-----------------------------------------*/
.animated {
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}