/*---------------------------------------
   Download Form Styles
-----------------------------------------*/
#formHolder { 
	width: 300px;
	float: right;
	margin: 10px 0 0; 
}

form {
	opacity: 0;
	visibility: hidden;	
}

// Mobile & Tablet
@media( max-width: 991px ) {

	#formHolder { 
		display: inline-block;
		width: auto;
		float: left;
		clear: none;
		margin: 0; 
	}
}