/*---------------------------------------
   Instructions Styles
-----------------------------------------*/
#instructionsHolder { 
	margin: 20px 0 40px; 

	div {
		opacity: 0;
		visibility: hidden;
	}
}

h2 {
	padding-top: 30px;
	border-top: 1px solid #ccc;
	font-size: 24px;
	font-weight: 700;
}

ol {
	margin: 20px 0 20px 20px;
	font-size: 16px;
	line-height: 32px;
	
	li { 
		margin-bottom: 10px; 
		padding-left: 10px;
	}
}

// Mobile
@media( max-width: 767px ) {
	
	#instructionsHolder { padding: 0 15px; }
}